<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
    <script src="/javascript/osasg_client.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <div class=intro>
      <p>Welcome <%= username %>!</p>
      <p>This website is still under construction.</p>
      <p>View progress on <a href="https://github.com/djmclaugh/OSASG">GitHub</a>.</p>
    </div>
    <% for (var i = 0; i < matches.length; ++i) { -%>
    <p><%= matches[i].p1Username ? matches[i].p1Username : "EMPTY"%> vs <%= matches[i].p2Username ? matches[i].p2Username : "EMPTY"%> : <button onclick="window.open('/match/<%= matches[i].id %>','<%= matches[i].id %>', 'width=800, height=500')">JOIN</button></p>
    <% } -%>
    <p><button onclick="document.location='/creatematch'">NEW MATCH</button></p>
  </body>
  
</html>
